.profile li{
    float:left;min-height:75pt;
    padding:5px 10px 5px 5px;
    border-left:3px solid #dd856e;color:#b39071  
}
.profile .photoR{
    margin-left:5px
}

.mphList li{
    text-align:center;margin:0 0 10px
}

.treatmentStep li{
    background:#f4f2f3;position:relative;padding:20px;margin:0 0 40px
}
.treatmentStep li .tl{
    background:#fff;padding:10px 20px;margin:0 0 10px;font-weight:700
}
.treatmentStep li .tl span{
    background:#e0807c;color:#fff;display:inline-block;padding:10px 20px;margin:-10px 20px -10px -20px
}
.treatmentStep li p{
    margin:0
}
.treatmentStep li:after{
    content:"";position:absolute;left:50%;bottom:-30px;width:40px;height:15px;margin:0 0 0 -20px;background:url(/common/img/ic_arrowunder.png)no-repeat
}
.treatmentStep li:last-child{
    margin:0
}
.treatmentStep li:last-child:after{
    display:none
}
.treatmentStep dl dt{
    float:left;width:170px
}
.treatmentStep dl dt img{
    width:170px;height:auto
}
.treatmentStep dl dd{
    float:left;width:100%;margin:0 0 0 -170px;padding:0 0 0 190px;box-sizing:border-box
}

.about{
    border-bottom:1px solid #dcd6d8;padding:0;margin:0 0 20px
}
.about dt{
    font-weight:700;width:170px;border:1px solid #822520;padding:10px;background:#f4f2f3
}
.about dd,.about dt{
    float:left;box-sizing:border-box
}
.about dd{
    padding:0 0 0 190px;margin:0 0 0 -170px;width:100%
}

.item{
    margin:0 0 20px
}
.item dt{
    float:left;width:90pt
}
.item dd{
    float:left;padding:0 0 0 140px;margin:0 0 0 -90pt;box-sizing:border-box;width:100%
}

.causeStepbox{
    margin:0 0 20px
}
.causeStepbox .causeStep{
    margin:0 -10px
}
.causeStep li{
    float:left;padding:0 10px;box-sizing:border-box;width:50%;margin:0 0 20px
}
.causeStep li .box{
    background:#f4f2f3;padding:20px
}
.causeStep li .tl{
    background:#e1dbde;padding:10px 20px;margin:0 0 10px;font-weight:700
}
.causeStep li .tl span{
    background:#e0807c;color:#fff;display:inline-block;padding:10px 20px;margin:-10px 20px -10px -20px
}
.causeStep li p{
    margin:0
}
.causeStep li .box .inner{
    position:relative;margin:0 0 50px
}
.causeStep li .box .inner:after{
    content:"";position:absolute;left:50%;bottom:-30px;width:40px;height:15px;margin:0 0 0 -20px;background:url(/common/img/ic_arrowunder.png)no-repeat
}
.causeStep li .box .inner:last-child{
    margin:0
}
.causeStep li .box .inner:last-child:after{
    display:none
}
.causeStep li .box .inner dt{
    float:left;width:5pc
}
.causeStep li .box .inner dd{
    float:left;width:100%;box-sizing:border-box;padding:0 0 0 90px;margin:0 0 0 -5pc
}

.hairStep li{
    background:#f4f2f3;position:relative;padding:20px;margin:0 0 20px
}
.hairStep li .tl{
    color:#822520;padding:10px 20px;margin:0 0 10px;font-weight:700
}
.hairStep li p{
    margin:0
}
.hairStep dl dt{
    float:left;width:200px
}
.hairStep dl dt img{
    width:200px;height:auto
}
.hairStep dl dd{
    float:left;width:100%;margin:0 0 0 -200px;padding:0 0 0 220px;box-sizing:border-box
}

.cItem,.hairItem,.placentaItem{
    margin:0 0 20px
}
.hairItem dt,.placentaItem dt{
    float:left;width:10pc;text-align:center
}
.cItem dt{
    float:left!important;width:auto!important;text-align:center
}
.cItem dt.left{
    text-align:left
}
.hairItem dt img,.placentaItem dt img{
    max-width:10pc;height:auto
}
.hairItem dd,.placentaItem dd{
    margin:0 0 0 -10pc;padding:0 0 0 180px
}
.cItem dd,.hairItem dd,.placentaItem dd{
    float:left;width:100%;box-sizing:border-box
}
.cItem dd{
    margin:0 0 0 -15pc;padding:0 0 0 260px
}
.cItem dt ul{
    margin:0 -5px
}
.cItem dt ul li{
    float:left;list-style-type:none;margin:0;padding:0 5px
}

.mediaList{
    margin:0 -10px
}
.mediaList li{
    padding:0 10px;box-sizing:border-box;float:left
}
.btncase{
    text-align:center;margin:20px 0
}
.btncase dt{
    padding:10px 50px;font-weight:700;color:#822520;border:1px solid #d2d2d2;display:inline-block;text-align:center;background:-webkit-gradient(linear,left top,left bottom,color-stop(1.00,#ebebeb),color-stop(0.00,#FFF));background:-webkit-linear-gradient(#fff,#ebebeb);background:-moz-linear-gradient(#fff,#ebebeb);background:-o-linear-gradient(#fff,#ebebeb);background:-ms-linear-gradient(#fff,#ebebeb);background:linear-gradient(#fff,#ebebeb);cursor:pointer
}
.btncase dt span{
    background:url(/common/img/ic_arrow01.png)no-repeat left .5em;padding:0 0 0 .8em
}
.btncase dd{
    margin:30px 0 0
}

.operationsList.clrfix{
    margin:0 auto 25px;display:flex;gap:3px;flex-wrap: wrap;
}
.operationsList li{
    width: calc(100% / 2 - 2px);padding:0;float:left;box-sizing:border-box
}
.operationsList li a{
    padding:10px;display:block;flex-wrap: wrap;background-color:#FCF8F2;box-sizing:border-box;color:#313131
}
.operationsList li dl{
    margin:0 0 10px
}
.operationsList li dt{
    width:60px;float:left;box-sizing:border-box
}
.operationsList li dd{
    width:100%;margin:0 0 0 -60px;padding:0 0 0 5pc;height:100%;float:left;box-sizing:border-box
}
.operationsList li a p {
    font-size: 13px;
}
.operationsList li dd h3{
    margin:0 0 10px;font-weight:700;font-size:18px;font-size:1.8rem;display:table;width:100%
}
.operationsList li dd h3 span{
    display:table-cell;height:49px;vertical-align:middle;border-bottom:1px solid #DFAF71;color:#b7905d
}
.operationsList li a:hover{
    filter:alpha(opacity=70);-moz-opacity:.7;opacity:.7
}

.centerBox{
    width:100%
}
.doubleItem{
    margin:0 auto;width:25pc;overflow:hidden
}
.doubleItem li{
    width:180px;float:left;margin-left:40px
}
.doubleItem li:first-child{
    margin-left:0
}
.doubleItem li p{
    margin-top:1em;font-size:9pt
}
.btncase dd{
    text-align:left
}

.imgCenter{
    margin:30px 0
}
.imgCenter,.photoL{
    text-align:center
}
.imgBlock img{
    padding:10px
}

.caseTable{
    border-collapse:separate;border-spacing:1px;vertical-align:middle;margin:10px 0
}
.caseTable th{
    background:#f4f2f3;padding:5px 10px;text-align:center
}
.caseTable td{
    padding:5px 10px;text-align:left
}



#worry{
    letter-spacing:-.4em
}
#worry .case{
    letter-spacing:0;width:calc(33.3333% -6.66667px);margin-right:10px;display:inline-block;vertical-align:top;line-height:0
}
#worry .case:nth-child(3){
    margin-right:0
}
#worry .case img{
    max-width:100%
}
#worry .case dl dd{
    text-indent:-1.75em;padding:20px 10px 20px 30px;line-height:1.5em;min-height:175px;background:url(../skincare/lp/img/worry_bg.gif)repeat-y;background-size:contain
}
#worry .case dl dd li img{
    vertical-align:middle;padding-right:8px
}
#worry .case dl dd li{
    font-size:13px
}

.cheap_recommend{
    letter-spacing:-.4em;margin-bottom:60px
}
.cheap_recommend li{
    letter-spacing:0;display:inline-block;width:calc(50% - 10px);margin-right:20px;background:-moz-linear-gradient(top,#ffad02 0,#fa5704 50%);background:-webkit-linear-gradient(top,#ffad02 0,#fa5704 50%);background:linear-gradient(to bottom,#ffad02 0,#fa5704 50%);border:3px solid #fda76e;box-sizing:border-box;border-radius:6px;box-shadow:0 3px 5px 1px #666;position:relative
}
.cheap_recommend li:nth-child(2){
    margin-right:0
}
.cheap_recommend li .top_txt{
    position:absolute;width:100%;left:0;top:-56px
}
.cheap_recommend li h3{
    font-size:28px;font-weight:700;color:#fff;padding:15px 0 0 15px;width:-moz-fit-content;width:fit-content;height:50px;margin-bottom:35px
}
.cheap_recommend li h3 span{
    font-size:13px;display:block;text-align:center;margin-bottom:3px
}
.cheap_recommend li .img{
    width:130px;border:4px solid #fff;box-shadow:0 0 2px 1px #666;position:absolute;top:0;right:0;transform:rotate(15deg)
}
.cheap_recommend li .img img{
    width:100%
}
.cheap_recommend li .txt{
    color:#fff;font-size:18px;width:-moz-fit-content;width:fit-content;margin:0 auto 10px;display:block
}

.doctor_r{
    letter-spacing:-.4em;margin-bottom:60px
}
.doctor_r .left{
    letter-spacing:0;display:inline-block;vertical-align:top;width:65%;margin-right:20px
}
.doctor_r .left h2,.doctor_r .left h3{
    color:#a8815a;font-size:2.2em;font-family:serif;line-height:1.6;position:relative;padding-bottom:30px
}
.doctor_r .left h2 div:nth-child(1),.doctor_r .left h3 div:nth-child(1){
    text-align:left;font-weight:700
}
.doctor_r .left h2 div:nth-child(2),.doctor_r .left h3 div:nth-child(2){
    text-align:right;font-weight:700
}
.doctor_r .left h2:after,.doctor_r .left h3:after{
    content:"";background:-moz-linear-gradient(left,hsla(0,0,100%,0) 0,hsla(0,0,99%,0) 1%,#ccc 25%,#999 50%,#ccc 75%,hsla(0,0,100%,0) 100%);background:-webkit-linear-gradient(left,hsla(0,0,100%,0) 0,hsla(0,0,99%,0) 1%,#ccc 25%,#999 50%,#ccc 75%,hsla(0,0,100%,0) 100%);background:linear-gradient(to right,hsla(0,0,100%,0) 0,hsla(0,0,99%,0) 1%,#ccc 25%,#999 50%,#ccc 75%,hsla(0,0,100%,0) 100%);width:100%;height:1px;position:absolute;bottom:15px
}
.doctor_r .left img{
    max-width:100%;margin-top:15px
}
.doctor_r .right{
    width:30%;letter-spacing:0;display:inline-block;vertical-align:top
}

.this_rcmmnd{
    margin-bottom:60px
}
.this_rcmmnd h3{
    color:#483d34;text-align:center;font-size:2pc;font-weight:700;margin-bottom:30px
}
.this_rcmmnd ul{
    letter-spacing:-.4em;display:flex;flex-wrap:wrap;justify-content:center
}
.this_rcmmnd ul li{
    background:-moz-linear-gradient(top,#ff9b80 0,#d23e0e 100%);background:-webkit-linear-gradient(top,#ff9b80 0,#d23e0e 100%);background:linear-gradient(to bottom,#ff9b80 0,#d23e0e 100%);text-align:center;color:#fff;width:155px;height:155px;border-radius:100%;margin-right:23.33333px;display:inline-flex;letter-spacing:0;vertical-align:top;box-shadow:0 3px 2px 1px #999
}
.this_rcmmnd ul li:last-child{
    margin-right:0
}
.this_rcmmnd ul li .circle_txt{
    display:block;height:-moz-fit-content;height:fit-content;width:-moz-fit-content;width:fit-content;margin:auto;font-weight:700
}

#process{
    text-align:center;margin-bottom:60px
}
#process h2{
    padding-bottom:30px
}
#price{
    text-align:center;margin-bottom:60px
}
#price h3{
    margin-bottom:30px
}
#price table{
    border-collapse:collapse;width:100%
}
#price table tr th{
    padding:9pt 10px;background:#8d7768;color:#fff;width:130px;font-weight:700;text-align:center
}
#price table tr td.time{
    background:#c0aea1;color:#fff;border:#8d7768 1px solid
}
#price table tr td.price_0,#price table tr th{
    border:#8d7768 1px solid
}
#price table span{
    font-weight:700;color:red
}
#price p.attn{
    color:red;font-size:.9em;padding:10px 0 10px 30px;text-align:left
}
#price a.button{
    background:#f38a6d;font-size:20px;display:block;font-weight:700;color:#fff;height:50px;line-height:50px;width:100%;max-width:20pc;margin:0 auto;position:relative;box-shadow:7px 7px 0 0 rgba(0,0,0,.5)
}
#price a.button:after{
    content:"";height:20px;width:20px;border-right:5px solid #fff;border-bottom:5px solid #fff;position:absolute;transform:rotate(-45deg);top:14px;box-sizing:border-box;right:13px
}

#faq h2{
    text-align:center;padding-bottom:30px
}
#faq p.cv{
    padding-top:30px;text-align:center
}
#faq .tab{
    border-bottom:2px solid #f30
}
#faq .tab ul{
    letter-spacing:-.4em
}
#faq .tab ul li{
    letter-spacing:0;display:inline-block;vertical-align:top;width:calc(50% - 5px);margin-right:10px
}
#faq .tab ul li img{
    width:100%
}
#faq .tab ul li:nth-child(2){
    margin-right:0
}
#faq #tab_box{
    border:2px solid #f30;padding:20px
}
#faq #tab_box>div{
    display:none
}
#faq #tab_box>div.show{
    display:block
}
#tab_box #tab1 dl dt img,#tab_box #tab2 dl dt img{
    padding-right:10px;vertical-align:middle
}
#tab_box #tab1 dl dt,#tab_box #tab2 dl dt{
    font-size:1.2em;font-weight:700;color:#ea4210;text-indent:-2.3em;padding-left:45px
}
#tab_box #tab1 dl dd,#tab_box #tab2 dl dd{
    background:#f7efd9;padding:10px;margin:15px 20px 20px 37px;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;font-size:.9em;line-height:1.5em
}



.no-webp .bl_aboutTattoo{
    padding:40px 20px 60px;margin:20px auto;background:#fffceb url(/wp-content/uploads/2021/03/Dr_bg_x_sp.png)right bottom/auto no-repeat
}
.webp .bl_aboutTattoo{
    padding:40px 20px 60px;margin:20px auto;background:#fffceb url(/wp-content/uploads/2021/03/Dr_bg_x_sp.png.webp)right bottom/auto no-repeat
}
.bl_aboutTattoo p span.paddingAdjust{
    padding-right:260px;display:block
}
.bl_aboutTattoo p span.paddingAdjust img{
    width:250px;float:right;margin-right:40px
}


@media screen and (min-width:768px){
    .sp{
    display:none !important
    }
}
@media screen and (max-width:767px){
    .pc{
    display:none !important
    }
    .profile li{
        min-height:0;margin-bottom:10px
    }
    .operationsList li{
        padding:0;float:none;
    }
    @media screen and (max-width:540px){
        .operationsList li{
        width: 100%;
    }
}

.operationsList li dd h3{
    font-size:15px;display:block;width:auto;margin:.8em 0 0;line-height:1.4
}
.operationsList li dd h3 span{
    display:block;border-bottom:0
}
.operationsList li p{
    font-size:13px
}
.operationsFlow .photoR{
    float:none;width:auto;max-width:none;text-align:center;margin:0 0 15px
}

.treatmentStep li .tl{
    background:0;padding:0;font-size:15px;text-align:center
}
.treatmentStep li .tl span{
    background:#e0807c;color:#fff;display:block;padding:5px;text-align:center;font-size:9pt;margin:0 0 10px
}
.treatmentStep dl dt{
    float:none;width:auto;margin:0 0 10px;text-align:center
}
.treatmentStep dl dd{
    float:none;width:auto;margin:0;padding:0
}
.cItem dt,.hairItem dt,.item dt,.placentaItem dt{
    float:none!important;width:auto!important;text-align:center !important;margin:0 0 10px
}
.cItem dd,.hairItem dd,.item dd,.placentaItem dd{
    float:none;width:auto;margin:0 0 10px;padding:0
}

.causeStepbox .causeStep{
    margin:0
}
.causeStepbox .causeStep li{
    float:none;padding:0;width:auto
}
.causeStep li .box{
    height:auto !important
}
.causeStepbox .causeStep .tl{
    background:0;padding:0;font-size:15px;text-align:center
}
.causeStepbox .causeStep .tl span{
    display:block;padding:5px;text-align:center;font-size:9pt;margin:0 0 10px
}
.causeStep li .box .inner dd{
    font-size:9pt
}

.hairStep li .tl{
    padding:5px;text-align:center
}
.hairStep dl dt{
    float:none;width:auto;text-align:center;margin:0 0 15px
}
.hairStep dl dd{
    float:none;width:auto;margin:0;padding:0;font-size:9pt
}
.mediaList{
    margin:0
}
.mediaList li{
    padding:0;margin:0 0 10px;float:none;text-align:center
}
.mediaList li img{
    min-width:265px
}

.about dt{
    float:none;display:inline-block;width:auto;margin:0 0 10px
}
.about dd{
    float:none;padding:0;margin:0
}
.doubleItem{
    width:100%
}
.doubleItem li{
    width:50%;margin:15px auto;padding:10px;box-sizing:border-box;text-align:center
}
.datsumouList li,.faceList li,.laserList li,.placentaList li,.tatooList li{
    width:50% !important;float:left
}
.tatooList li:first-child{
    width:100% !important
}
.imgCenter{
    margin:20px 0
}
.caseTable{
    font-size:9pt
}
.caseTable th{
    width:25%
}



#worry .case{
    width:295px;margin-left:auto;display:block;margin-bottom:60px
}
#worry .case,#worry .case:nth-child(3){
    margin-right:auto
}
#worry .case>p img{
    max-width:100%;margin:0 auto;display:block
}

.cheap_recommend li{
    display:block;width:100%;margin-right:0;margin-bottom:75pt
}
.cheap_recommend li h3{
    font-size:21px;padding:10px 0 0 10px
}

.doctor_r .right{
    width:250px;display:block!important;margin:0 auto 30px
}
.doctor_r .left{
    display:block;width:100%!important;margin-right:0
}
.doctor_r .left h2,.doctor_r .left h3{
    font-size:18px
}

.this_rcmmnd ul li{
    width:145px;height:145px;margin-right:10px;margin-bottom:10px
}

#faq #tab_box{
    padding:5px
}
#tab_box #tab1 dl dd,#tab_box #tab2 dl dd{
    margin:10px 5px 30px
}
#tab_box #tab1 dl dt,#tab_box #tab2 dl dt{
    font-size:1em
}
#faq .tab ul li{
    display:block;width:100%;margin-right:0;max-width:450px
}
#faq h2{
    height:26px
}
#faq h2 img{
    height:100%
}
.this_rcmmnd ul li .circle_txt{
    font-size:9pt
}
.blogs{
    width:100%;float:none
}

.category_list li .category_list_title{
    font-size:1.4em
}
.category_list li .category_list_border{
    margin:1.2em 0 0
}
.category_list li .category_list_border .photoR{
    max-width:none;float:none;width:100%;margin:5px 0
}
.laser_operation .flex-direction-nav a{
    bottom:40% !important
}
.laser_operation .flexslider .casebox,.laser_operation .flexslider .casebox .baseTbl01,.laser_operation .flexslider .casebox .case_img{
    display:block
}
.laser_operation .flexslider .casebox .case_img{
    width:260px
}
.laser_operation .flex-control-thumbs li img{
    height:45px
}
}

@media screen and (max-width:540px){
    .cItem dd{
        margin:0!important;padding:0!important;
    }
}

.laser_operation p{
    font-size:1pc;line-height:1.6pc
}
.laser_operation h2.ttl{
    border-bottom:1px solid #dac7a7;line-height:1.2em;color:#aa805a;padding-bottom:15px;font-size:2.2em;font-weight:700;font-family:serif;position:relative;margin:30px 0
}
.laser_operation h2.ttl img{
    margin-right:5px
}
.laser_operation h2.ttl:after{
    content:"";position:absolute;width:100%;height:3px;background:#dac7a7;bottom:3px;left:0
}
.laser_operation h2.ttl span{
    font-size:18px;top:-25px
}
.laser_operation dl.cont01,.laser_operation dl.cont02{
    width:100%;letter-spacing:-.4em;margin-bottom:60px
}
.laser_operation dl.cont01 dt,.laser_operation dl.cont02 dt{
    padding:0 0 20px
}
.laser_operation dl.cont01 img,.laser_operation dl.cont02 img{
    width:100%
}
.laser_operation dl.cont02 dd ul li{
    display:inline-block;vertical-align:0;width:49%;margin:.5%;padding:5px;box-sizing:border-box;background:#f6efdf;border-left:solid 8px #dac7a7;font-size:1.4em;text-align:center;color:#7f6a49;letter-spacing:0;font-weight:700
}
.laser_operation dl.cont03 dd ul li{
    display:inline-block;vertical-align:0;width:50%;padding:5px;box-sizing:border-box
}
.laser_operation #cure{
    padding:0;line-height:1.4em;margin-top:30px;font-size:1pc
}
.laser_operation #cure p{
    padding:0 10px;line-height:1.4em
}
.laser_operation #cure .summary{
    margin-top:20px
}
.laser_operation #cure .summary h3{
    padding:30px 0 20px
}
.laser_operation #cure .summary h3 img{
    width:100%
}
.laser_operation #cure .summary table{
    width:100%;margin:20px 0 30px;border-collapse:collapse;border:1px solid #efe7d8
}
#cure .summary table td,.laser_operation #cure .summary table th{
    border:1px dashed #f1ebe1;padding:15px 10px
}
.laser_operation #cure .summary table th{
    background:#f1ebe1;color:#a98059;width:10pc;font-weight:700
}
.laser_operation #cure .summary table td{
    line-height:1.5em
}
.laser_operation #price h2 img{
    width:100%
}
.laser_operation #price dl{
    margin:0 20px;border-bottom:1px dashed #c60
}
.laser_operation #price dl dt{
    float:left;width:250px;font-weight:700;padding:20px 30px 10px 40px;text-align:left;font-size:1pc
}
.laser_operation #price dl dd{
    font-size:1.2em;padding:20px 30px 10px 10px;text-align:left
}
.laser_operation #price ul{
    padding:10px 20px;margin:10px 20px;background:#FCF8F2;font-size:.95em;text-align:left
}
.laser_operation #price ul li{
    line-height:1.5em;font-weight:700;color:red;font-size:1pc
}
.laser_operation #faq h2{
    text-align:left;padding-bottom:15px
}
.laser_operation #faq dl dt{
    color:#cb664c;font-weight:700;position:relative;border-radius:10px;border:solid 1px #cb664c;padding:10px;margin:20px 0 10px
}
.laser_operation #faq dl dt:after{
    content:"\e804";font-family:fontello;position:absolute;right:8px;top:36%;font-size:1.2em
}
.laser_operation dt h3.q{
    vertical-align:middle;padding-right:15px;display:inline-block;font-weight:700;font-size:1.2em;min-height:45px;padding:9pt 15px 0 50px;background:url(/img/operations/laser/q.jpg)0 0/45px 45px no-repeat
}
.laser_operation #faq dl dt img,.laser_operation #faq dl dt span.q{
    vertical-align:middle;padding-right:10px
}
.laser_operation #faq dl dd{
    -moz-border-radius:9pt;-webkit-border-radius:9pt;border-radius:9pt;background:#f6f2ee;padding:9pt 15px;margin-left:0;color:#a98059;font-size:1pc;line-height:1.4em
}
.laser_operation h3.norm{
    color:#cb664d;font-size:1.9em;font-family:serif;border-bottom:1px solid #cb664d;padding:0 5px 10px;display:block;font-weight:700;text-align:left;line-height:1.2em;margin:30px 0 15px
}
.no-webp .laser_operation #flow{
    background:url(/wp-content/uploads/2021/03/bg-visit.jpg)no-repeat center;background-size:cover;padding:20px
}
.webp .laser_operation #flow{
    background:url(/wp-content/uploads/2021/03/bg-visit.jpg.webp)no-repeat center;background-size:cover;padding:20px
}
.laser_operation #flow .box{
    display:flex;justify-content:space-between;position:relative;background:#fff;margin-bottom:50px;padding:30px;box-shadow:1px 1px 10px rgba(0,0,0,.1)
}
.laser_operation #flow .box .txt{
    width:65%;font-size:1.8rem
}
.laser_operation #flow .box .number{
    position:absolute;font-family:游明朝,YuMincho,ヒラギノ明朝 ProN W3,Hiragino mincho ProN,HG明朝E,ＭＳ\ Ｐ明朝,ＭＳ\ 明朝,serif;font-style:italic;font-size:9em;font-weight:700;line-height:1;top:5px;left:5px;color:rgba(0,0,0,.1)
}
.laser_operation #flow .box .txt .ttl{
    font-size:3rem;line-height:1.2;color:#563731;margin-left:3.2em;margin-bottom:2rem
}
.laser_operation #flow .box .txt p{
    margin-bottom:0
}
.laser_operation #flow .box .img{
    width:32%
}
.laser_operation #flow .box .img img{
    width:100%;height:25rem;object-fit:cover
}
.laser_operation #flow .box:after{
    border-top:40px solid #fff;border-left:40px solid transparent;border-right:40px solid transparent;content:"";position:absolute;bottom:-40px;left:50%;margin-left:-50px
}
.laser_operation #flow .box:last-child{
    margin-bottom:0
}
.laser_operation #flow .box:last-child:after{
    border:0
}


/* ============================== */
/*          アーカイブページ          */
/*            operation            */
/* ============================== */

#mainContents.archive-operation {
    max-width: 980px;
    width: 100%;
    margin: auto;

}
@media screen and (max-width:1023px) {
    #mainContents.archive-operation {
        width: 90%;
    
    }

}


/* ============================== */
/*               共通              */
/* ============================== */

@media screen and (min-width:769px) {
    br.sp {
        display: none;
    } 
}
@media screen and (max-width:768px) {
    br.pc {
        display: none;
    }
}

/* メニュー */
.topNav ul{
    margin-top:5px;display:flex;text-align:center;justify-content:space-between;flex-wrap:wrap;
}
@media screen and (max-width:1023px) {
    .topNav ul{
        margin-top: 10px;gap: 5px;
    }
}
.topNav li{
    flex: 0.16;
}
@media screen and (max-width:1023px) {
    .topNav li{
        width: calc(100% / 3 - 10px);flex: auto;
    }
}
@media screen and (max-width:540px) {
    .topNav li{
        width: calc(100% / 2 - 10px);flex: auto;
    }
}
.topNav li a{
    background:#F8ECDD; 
    padding:10px 14px;
    font-size:0.9em;
    border-radius:5px;
    line-height:1.2;
    display: flex;
    align-items: center;
    justify-content: center; 
    min-height: 35px;
}
@media screen and (max-width:767px) {
    .topNav li a{
        padding:10px;
    }
}
.topNav li.toForm a{
    background: url(../img/operations/skincare/operations-btn.svg) no-repeat center/cover;
}
.topNav li.toForm a {
    color: white;
}
.topNav li a:hover{
    background:#E0B072; color: white;
}
.topNav li.heightAjst{
    line-height:2;
    height: auto;
    display: grid
;
}

section p.up{
    margin-top: 25px;
}
section p.last{
    margin-bottom: 0;
}


/* ============================== */
/*      施術ページ　トップメニュー    */
/* ============================== */

section.head {
    padding: 0 0 80px !important;
}
@media screen and (max-width:767px) {
    section.head {
        padding: 0 0 60px !important;
    }
}
.head .secBox.top-menu {
    margin-bottom: 60px;
}
@media screen and (max-width:767px) {
    .head .secBox.top-menu {
        margin-bottom: 30px;
    }
}
.head .topNav ul{
    margin-bottom: 60px !important;
}
@media screen and (max-width:540px) {
    .head .topNav ul{
        margin-bottom: 30px !important;
    }
}

/* 目次 */
#toc_box {
    width: 100%;
}
#toc_box .toc_title {
    font-family: 'Source Han Serif', sans-serif;
    display: block;
    background: #D0EDF2;
    color: #16A4BD;
    border: solid 1.5px #16A4BD;
    font-size: 1.2em;
    border-radius: 5px;
    font-weight: 700;
    padding: 10px;
    margin: 0;
    text-align: center;
    cursor: pointer;
    position: relative;    
}
@media screen and (max-width:540px) {
    #toc_box .toc_title {
        font-size: 16px;  
    }
}
#toc_box .toc_title.open {
    margin-bottom: 10px;  
}
#toc_box .toc_title::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    background: url(../common/img/toc_box_close.svg) no-repeat center/100%;
}
@media screen and (max-width:540px) {
    #toc_box .toc_title::after {
        width: 15px;
        height: 15px;
        right: 20px;
    }
}
#toc_box .toc_title.open::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    background: url(../common/img/toc_box_open.svg) no-repeat center/100%;
}
@media screen and (max-width:767px) {
    #toc_box .toc_title.open::after {
        right: 18px;
    }
}
#toc_box .open .toc_status:before {
    content: "非"
}
#toc_box .toc_list {
    display: none;
    background: #F4FBFC;
    border-radius: 5px;
    padding: 40px 0;
    border-top: 0;
}
@media screen and (max-width:1023px) {
    #toc_box .toc_list {
        padding: 40px 30px;
    }
}
@media screen and (max-width:767px) {
    #toc_box .toc_list {
        padding: 25px 20px;
    }
}
#toc_box .toc_list ul{
    margin-bottom: 0;
}
#toc_box .toc_list li{
    max-width: 800px;
    margin: auto;
    width: 100%;
}
#toc_box li {
    position: relative;
    list-style: none;
    line-height: 1.6;
    margin-bottom: 15px;
}
@media screen and (max-width:1023px) {
    #toc_box li {
        width: 90%;
    } 
}
#toc_box li a {
    color: #16A4BD;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.3;
    padding-bottom: 15px;
    border-bottom: solid 1px #16A4BD;
    display: block;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    margin-bottom: 15px;
}
@media screen and (max-width:767px) {
    #toc_box li a {
        display: flex;
        font-size: 16px;
        align-items: center;
    }
}
#toc_box li a .toc_num{
    font-family: 'Source Han Serif', sans-serif;
    margin-right: 10px;
}
#toc_box .toc_list ul li ul{
    margin-bottom: 35px;
}
@media screen and (max-width:767px) {
    #toc_box .toc_list ul li ul{
        margin-bottom: 30px;
    }
}
#toc_box .toc_list ul li ul li {
    width: 100%;
    line-height: 1.3;
    margin-bottom: 10px;
}
#toc_box .toc_list ul li ul li a {
    font-size: 18px;
    color: #353535;
    border-bottom: none;
    padding-bottom: 0;
    font-weight: normal;
    margin: 0;
}
@media screen and (max-width:767px) {
    #toc_box .toc_list ul li ul li a {
        font-size: 14px;
    }
}
#toc_box .toc_list ul li ul li .toc_num{
    position: relative;
    margin-right: 0px;
    margin-left: 0;
    margin-left: 90px;
}
@media screen and (max-width:767px) {
    #toc_box .toc_list ul li ul li .toc_num{
        margin-left: 40px;
    }
}
#toc_box .toc_list ul li ul li .toc_num::before {
    content: attr(data-number);
    position: absolute;
    left: -50px;
    top: 3px;
    width: auto;
    text-align: right;
    line-height: 1;
}
@media screen and (max-width:767px) {
    #toc_box .toc_list ul li ul li .toc_num::before {
        left: -40px;
    }
}


/* ============================== */
/*          施術ページ　SNS        */
/* ============================== */
section#snsreport {
    position: relative;
    min-height: 800px;
}
section#snsreport h2 {
    font-size: 40px !important;
    line-height: 0.2 !important;
}
@media screen and (max-width:767px) {
    section#snsreport h2 {
        font-size: 30px !important;
        line-height: 0 !important;
    }
}
section#snsreport h2 .main{
    font-size: 40px;
    color: #353535 !important;
}
@media screen and (max-width:767px) {
    section#snsreport h2 .main{
        font-size: 30px !important;
    }
}
section#snsreport h3{
    font-size: 50px;
    margin-bottom: 35px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 0;
    border: none;
}
@media screen and (max-width: 540px) {
    section#snsreport h3{
        font-size: 30px;
        line-height: 1;
        margin-bottom: 20px;
    }
}
section#snsreport .box{
    padding: 60px 0;
    background: white;
    margin-left: auto; /* 右寄せ */
    margin-right: 0;
    max-width: 1920px;
    min-height: 570px;
    width: 100%;
    border-radius: 20px 0 0 20px;
}
section#snsreport .box.left{
    padding: 60px 0 90px;
    min-height: 495px;
}
@media screen and (max-width: 540px) {
    section#snsreport .box.left{
        padding: 50px 0;
        min-height: auto;
    }
}
section#snsreport .box.left{
    margin-right: auto; /* 右寄せ */
    margin-left: 0;
    margin-top: 60px;
    border-radius: 0 20px 20px 0;
}
@media screen and (min-width: 1921px) {
    section#snsreport .box {
      max-width: 100%;
      width: 80%;
    }
}  
@media screen and (max-width: 1920px) {
    section#snsreport .box {
      width: 90%;
    }
}  
@media screen and (max-width: 1300px) {
    section#snsreport .box {
      width: 100%;
      min-height: auto;
      border-radius: 0;
    }
    section#snsreport .box.left{
      border-radius: 0;
    }
}  
@media screen and (max-width: 540px) {
    section#snsreport .box {
      width: 97%;
      border-radius: 10px 0 0 10px;
      padding: 50px 0;
    }
    section#snsreport .box.left{
      border-radius: 0 10px 10px 0;
    }
}  
section#snsreport .item{
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}
section#snsreport .item .flex{
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 1300px) {
    section#snsreport .item{
        position: inherit;
        left: auto;
        transform: translateX(0);
    }
    section#snsreport .item .flex{
        flex-wrap: wrap;
        gap: 40px;
    }
}
@media screen and (max-width: 767px) {
    section#snsreport .item .flex{
        justify-content: center;
    }
}
section#snsreport .box.left h3 {
    font-size: 30px;
    margin-bottom: 70px;
}
@media screen and (max-width: 540px) {
    section#snsreport .box.left h3 {
        font-size: 25px;
        margin-bottom: 40px;
    }
}
section#snsreport .box.left ul {
    margin-bottom: 0;
}
section#snsreport .box.left ul li{
    margin-bottom: 50px;
    padding-bottom: 30px;
    padding-left: 65px;
    position: relative;
    border-bottom: solid 1px #868686;
}
@media screen and (max-width: 540px) {
    section#snsreport .box.left ul li{
        padding-left: 60px;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
} 
section#snsreport .box.left ul li.last{
    margin-bottom: 0px;
}
section#snsreport .box.left ul li::before{
    position: absolute;
    content: "";
    width: fit-content;
    height: auto;
    top: -2px;
    background: #DFAF71;
    padding: 2px 10px;
    border-radius: 2px;
    left: 0px;
    font-weight: bold;
    color: white;
    font-family: 'Source Han Serif', sans-serif;
}
@media screen and (max-width: 540px) {
    section#snsreport .box.left ul li::before{
        top: 5px;
    }
} 
section#snsreport .box.left ul li.rank01::before{
    content: "1位";
}
section#snsreport .box.left ul li.rank02::before{
    content: "2位";
    background: #868686;
}
section#snsreport .box.left ul li.rank03::before{
    content: "3位";
    background: #16A4BD;
}
section#snsreport .box.left ul li.rank04::before{
    content: "4位";
    background: #5b5b5b;
}
section#snsreport .box img{
    flex: 0.45;
    width: 0;
}
@media screen and (max-width: 1160px) {
    section#snsreport .box img{
        flex: 1;
        width: 100%;
    }
}
section#snsreport .box .flex div{
    flex: 0.5;
}
@media screen and (max-width: 1160px) {
    section#snsreport .box .flex div{
        flex: 1;
        width: 100%;
    }
}
@media screen and (max-width: 1023px) {
    section#snsreport .box .flex div{
        flex: auto;
    }
}
section#snsreport .box .flex div p{
    text-align: center;
}
@media screen and (max-width: 540px) {
    section#snsreport .box .flex div p{
        text-align: center;
    }
} 
section#snsreport .box .flex div a{
    display: block;
    padding: 20px 0;
    max-width: 500px;
    width: 100%;
    font-size: 20px;
    color: white;
    border-radius: 45px;
    font-weight: bold;
    text-align: center;
    background: #DFAF71;
    position: relative;
    margin: auto;
    box-shadow: 4px 5px 0 rgba(0,0,0,.15);
    font-family: 'Source Han Serif', sans-serif;
}
@media screen and (max-width:540px) {
    section#snsreport .box .flex div a{
        padding: 15px 0;
        font-size: 16px;
    }
}
section#snsreport .box .flex div a::before {
    position: absolute;
    content: "";
    width: 36px;
    height: 36px;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    background: url(../common/img/Insta_icon.svg) no-repeat center/100%;
  }
@media screen and (max-width:540px) {
    section#snsreport .box .flex div a::before {
        width: 24px;
        height: 24px;
    } 
}
section#snsreport .box .flex div a::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    right: 30px;
    top: 45%;
    border-right: 2px solid currentColor;
    border-top: 2px solid currentColor;
    transform: rotate(45deg);
    transition: .2s ease;
  }
  #skincare .flow a.rese:hover:after{
    right: 25px;
  }

/* ============================== */
/*     施術ページ　よくある質問        */
/* ============================== */

#operations-faq .sub-cintainer {
    max-width: 800px;
    margin: 0 auto;
}
#operations-faq .faq-question {
    width: 100%;
    padding-left: 50px;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 25px;
    position: relative;
    font-family: 'Source Han Serif', sans-serif;
}
@media screen and (max-width:767px) {
    #operations-faq .faq-question {
        font-size: 18px;
        padding-left: 40px;
    }
  }
#operations-faq .faq-question::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 40px;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    background: url(../common/img/faq-icon.svg) no-repeat center/100%;
}
@media screen and (max-width:767px) {
    #operations-faq .faq-question::before {
        width: 30px;
        height: 32px;
  }
}
#operations-faq .faq-question::after {
    position: absolute;
    content: "+";
    width: 20px;
    font-size: 30px;
    height: 1.5px;
    color: #16A4BD;
    top: 0;
    right: 0px;
    transform: translateY(-50%);
}
@media screen and (max-width:767px) {
    #operations-faq .faq-question.li01::after {
        top: -30%;
    }
  }
#operations-faq .faq-item.open .faq-question::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 1.5px;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    border-bottom: solid 1.6px #16A4BD;
}
@media screen and (max-width:767px) {
    #operations-faq .faq-item.open .faq-question::after {
        width: 15px;
        right: 5px;
    }
}
#operations-faq .faq-question h3 {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 20px;
}
@media screen and (max-width:767px) {
    #operations-faq .faq-question h3 {
        font-size: 18px;
    }
}
#operations-faq .faq-answer {
    display: none;
    background: #EFF9FA;
    padding: 40px;
    border-radius: 5px;
    font-size: 15px;
    line-height: 1.7;
}
@media screen and (max-width:767px) {
    #operations-faq .faq-answer {
        padding: 20px;
    }
  }
#operations-faq .faq-answer p{
    margin-bottom: 0;
    font-size: 18px;
}
@media screen and (max-width:767px) {
    #operations-faq .faq-answer p{
        font-size: 16px;
    }
}
#operations-faq .faq-item.open {
   margin-bottom: 40px;
}
@media screen and (max-width:767px) {
    #operations-faq .faq-item.open {
        margin-bottom: 30px;
     }
  }
#operations-faq .faq-item.last {
   margin-bottom: 80px;
}
@media screen and (max-width:767px) {
    #operations-faq .faq-item.last {
        margin-bottom: 30px;
     }
}
#operations-faq .faq-item.open .faq-answer {
    display: block;
}
#operations-faq .faq-item.open .faq-answer a{
    display: block;
    max-width: 400px;
    width: 100%;
    padding: 15px 0;
    border-radius: 45px;
    font-size: 18px;
    color: #16A4BD;
    font-weight: bold;
    text-align: center;
    background: white;
    border: solid 1px #16A4BD;
    font-family: 'Source Han Serif', sans-serif;
    margin: 10px 0 25px;
    position: relative;
  }
  @media screen and (max-width:767px) {
    #operations-faq .faq-item.open .faq-answer a{
      padding: 12px 0;
      font-size: 16px;
    }
  }
  #operations-faq .faq-item.open .faq-answer a::after{
    position: absolute;
    content:"";
    display:inline-block;
    width:7px;
    height:7px;
    right: 30px;
    top: 45%;
    border-right:2px solid currentColor;
    border-top:2px solid currentColor;
    transform:rotate(45deg);  /* 「＞」を作る */
    transition:.2s ease;
  }
  #operations-faq .faq-item.open .faq-answer a:hover::after{
    right: 25px;
  }
  

/* ============================== */
/*        施術ページ　アクセス        */
/* ============================== */

section#access {
    padding-bottom: 0 !important;
}

#access .container {
    display: flex;
    gap: 40px;
    align-items: center;
    align-items: stretch;
}
@media screen and (max-width:1023px) {
    #access .container {
        flex-wrap: wrap;
        gap: 30px;
        flex-direction: column-reverse;
    }
}
#access .container iframe{
    flex: 1;
    height: auto;
}
@media screen and (max-width:1023px) {
    #access .container iframe{
        flex: auto;
        width: 100%;
        height: 370px; /* ←これを追加 */
    }
}
#access .container div{
    flex: 1;
}
#access .container h2{
    margin-bottom: 5px;
    font-weight: bold;
    line-height: 1.2;
    padding: 0;
    border: none;
    text-align: left;
    font-family: 'Source Han Serif', sans-serif;
}
@media screen and (max-width:767px) {
    #access .container h2{
        font-size: 30px;
    }
}
#access .container p.name{
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Source Han Serif', sans-serif;
}
@media screen and (max-width:1023px) {
    #access .container p.name{
        margin-bottom: 40px;
    }
}
@media screen and (max-width:767px) {
    #access .container p.name{
       font-size: 20px;
    }
}
#access .container p.up{
    margin-top: 12px;
}
#access .container .box{
    background: #FCF8F2;
    border-radius: 5px;
    padding: 23px 30px;
    margin-top: 20px;
}
@media screen and (max-width:767px) {
    #access .container .box{
        padding: 15px 20px;
    }
}
#access .container .box ul{
    margin: 0;
}
#access .container .box ul li{
   margin-bottom: 8px;
   line-height: 1.2;
}
#access .container .box ul li:last-child{
   margin-bottom: 0;
}
#access .container .box ul li.up{
   margin-top: 20px;
}
#access .container .box ul li span{
    width: 22%;
    margin-right: 25px;
    display: inline-block;
}
  

/* ============================== */
/*        施術ページ　院長ご挨拶      */
/* ============================== */
#greeting {
 background: #FAF2E8;
}
@media screen and (max-width:767px) {
    #greeting {
        padding: 50px 0 60px;
       }
}
section#greeting h2{
    padding: 60px 0;
    color: #DDA55E;
    font-weight: bold;
    font-size: 35px;
    border: none;
    background: url(../common/img/greeting_bg.webp) no-repeat center/cover;
}
@media screen and (max-width:767px) {
    section#greeting h2{
        padding: 45px 0;
        font-size: 20px;
        margin-bottom: 30px;
        background: url(../common/img/greeting_bg_sp.webp) no-repeat center/cover;
    }
}
section#greeting .flex img{
    width: 37%;
    flex: 0.3;
}
@media screen and (max-width:1023px) {
    section#greeting .flex img{
        width: 45%;
    }
}
@media screen and (max-width:767px) {
    section#greeting .flex{
        justify-content: center;
        flex-wrap: wrap;
        gap: 35px;
    }
    section#greeting .flex img{
        max-width: 70%;
        flex: auto;
    }
}
section#greeting .flex div {
    flex: 0.65;
}
@media screen and (max-width:767px) {
    section#greeting .flex div {
        flex: auto;
        width: 100%;
    }
}
section#greeting .flex div p{
    font-family: 'Source Han Serif', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    line-height: 1;
    margin-bottom: 5px;
}
@media screen and (max-width:1023px) {
    section#greeting .flex div p{
        font-size: 25px;
    }
}
@media screen and (max-width:767px) {
    section#greeting .flex div p{
        font-size: 20px;
    }
}
section#greeting .flex div p span{
    font-size: 40px;
    display: inline-block;
    margin-left: 10px;
}
@media screen and (max-width:767px) {
    section#greeting .flex div p span{
        font-size: 30px;
    }
}
section#greeting .flex div p.title{
    font-family: 'Source Han Serif', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    line-height: 1;
    margin: auto;
    width: fit-content;
    margin-bottom: 15px;
    color: #DDA55E;
    position: relative;
}
@media screen and (max-width:767px) {
    section#greeting .flex div p.title{
        font-size: 18px;
        margin-bottom: 5px;
    }
}
section#greeting .flex div p.title::before{
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    background: #DDA55E;
    top: 50%;
    transform: translateY(-50%);
    left: -25px;
    border-radius: 50%;
}
@media screen and (max-width:767px) {
    section#greeting .flex div p.title::before{
        width: 10px;
        height: 10px;
        left: -15px;
    }
}
section#greeting .flex div ul{
    margin-bottom: 0;
    margin-top: 35px;
    position: relative; 
}
section#greeting .flex div li{
    text-align: center;
    padding: 10px 0;
    position: relative;
    z-index: 0;
}
section#greeting .flex div li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 40px;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 15%,
        rgba(255, 255, 255, 1) 90%,
        rgba(255, 255, 255, 0) 100%
      );
    filter: blur(0px);
    z-index: -1;
  }  
  
section#greeting .flex div li:last-child{
    margin-bottom: 0px;
}

section#greeting h3{
    padding: 60px 0 15px;
    background: #FAF2E8;
    margin-bottom: 40px;
    font-weight: bold;
    font-family: 'Source Han Serif', sans-serif;
    border-bottom: solid 2px #DDA55E;
}
@media screen and (max-width:767px) {
    section#greeting h3{
        padding: 50px 0 15px;
        margin-bottom: 30px;
    }
}

section#greeting p.text{
    margin-bottom: 60px;
}
@media screen and (max-width:767px) {
    section#greeting p.text{
        margin-bottom: 40px;
    }
}




























